.catalogo {
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.row .col-4 .card {
    padding: 20px;
    border: 1px solid #000;
    width: 300px;
    text-align: center;
}

.row .col-4 .card .card-title {
    border-bottom: 1px solid #000;
}

.row .col-4 .card .card-title img {
    width: 100%;
}

.row .col-4 .card .card-body button {
    padding: 10px 20px;
    background-color: brown;
    color: #fff;
    border: 0;
}

.row .col-4 .card .card-body button:hover {
    background-color: red;
}